@media (min-width: 40em) {
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 60%;
      margin-left: 20%;
    }
    footer{
      max-width: 60%;
      margin-left: 20%;
    }
  
      form {
        width: 800px;
        margin: 1rem ;
        padding: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        background-color: #eee;
        display: grid;  
        margin-left: 20%;
      }
      h1{
        text-align: center;
        margin-left: 35%;
      }
      
}
  